@media (max-width: 1250px) {

body {
  font-family: Roboto, Arial;
  background-color: rgb(250,250,250);
  margin: 0;
  padding-right: 24px;
  padding-bottom: 200px;
  padding-left: 55px;
  padding-top: 34px;
}
}
p {
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 1250.5px) {
  body {
    font-family: Roboto, Arial;
    background-color: rgb(250,250,250);
    margin: 0;
    padding-right: 24px;
    padding-bottom: 200px;
    padding-left: 55px;
    padding-top: 34px;
  }

}

@media (min-width: 1450.5px) {
  body {
    font-family: Roboto, Arial;
    background-color: rgb(250,250,250);
    margin: 0;
    padding-right: 104px;
    padding-bottom: 200px;
    padding-left: 55px;
    padding-top: 34px;
  }

}